// Themes
//
// Themes can affect any of the primary types. They can
// override base styles like default link colours. They can change
// module elements such as colours and borders. They can affect
// layout with different arrangements. They can also alter how states look.

// Theme rules — оформление. Здесь описываются стили оформлений, которые со 
// временем, возможно, нужно будет заменить (так удобно делать, например, 
// новогоднее оформление; для html-тем, выставленных на продажу такие стили 
// позволяют переключать цветовую гамму и т.п.).

// Theme – категория похожа на State, в нее входят стили, отвечающие за внешний
// вид макетов и модулей. Эта категория нужна не во всех проектах, но знать про 
// нее необходимо.

//
// @source http://smacss.com/book/type-theme

$nod-bg-primary: $ghostwhite;
$nod-bg-primary-shade1: $ashy;
$nod-bg-primary-shade2: $gunpowder;

$nod-text-primary: $asfalt;         // on white
$nod-text-primary-shade1: $coal;
$nod-text-secondary: $iron;         // on black

$radius-small: 4px;
$border-thin: 1px solid $nod-bg-primary-shade2;

// @import '../nod-light';