// Themes
//
// Themes can affect any of the primary types. They can
// override base styles like default link colours. They can change
// module elements such as colours and borders. They can affect
// layout with different arrangements. They can also alter how states look.

// Theme rules — оформление. Здесь описываются стили оформлений, которые со 
// временем, возможно, нужно будет заменить (так удобно делать, например, 
// новогоднее оформление; для html-тем, выставленных на продажу такие стили 
// позволяют переключать цветовую гамму и т.п.).

// Theme – категория похожа на State, в нее входят стили, отвечающие за внешний
// вид макетов и модулей. Эта категория нужна не во всех проектах, но знать про 
// нее необходимо.

//
// @source http://smacss.com/book/type-theme

$nod-bg-primary: $white;
$nod-bg-primary-shade1: $melancholic;
$nod-bg-primary-shade2: $gunpowder;

$nod-text-primary: $asfalt;                 // on white
$nod-text-primary-shade1: $moonrock;
$nod-text-primary-shade2: $coal;

$nod-text-light: $ghostwhite;               // on black
$nod-text-light-shade1: $iron;
$nod-text-light-shade2: $ashy;


// Links
$color-link:                $nod-text-light-shade2;
$color-link-dark:           $nod-text-primary-shade1;

$color-link-hover:          $nod-text-primary;
$color-link-visited:        $bouquet;

$radius-small: 4px;
$border-thin: 1px solid $nod-bg-primary-shade2;


// White Space
$whitespace-xs: 5px;
$whitespace-s:  10px;
$whitespace-m:  15px;
$whitespace-l:  20px;
$whitespace-xl: 25px;


$pad-xsmall: $whitespace-xs;
$pad-xsmall-x: 0px $whitespace-xs;
$pad-xsmall-y: $whitespace-xs 0px;

$pad-small: $whitespace-s;
$pad-small-x: 0px $whitespace-s;
$pad-small-y: $whitespace-s 0px;

$pad-med: $whitespace-m;
$pad-med-x: 0px $whitespace-m;
$pad-med-y: $whitespace-m 0px;


$mar-xsmall: $whitespace-xs;
$mar-xsmall-x: 0px $whitespace-xs;
$mar-xsmall-y: $whitespace-xs 0px;

$mar-small: $whitespace-s;
$mar-small-x: 0px $whitespace-s;
$mar-small-y: $whitespace-s 0px;

$mar-med: $whitespace-m;
$mar-med-x: 0px $whitespace-m;
$mar-med-y: $whitespace-m 0px;


// @import '../nod-light';