// Themes
//
// Themes can affect any of the primary types. They can
// override base styles like default link colours. They can change
// module elements such as colours and borders. They can affect
// layout with different arrangements. They can also alter how states look.

// Theme rules — оформление. Здесь описываются стили оформлений, которые со 
// временем, возможно, нужно будет заменить (так удобно делать, например, 
// новогоднее оформление; для html-тем, выставленных на продажу такие стили 
// позволяют переключать цветовую гамму и т.п.).

// Theme – категория похожа на State, в нее входят стили, отвечающие за внешний
// вид макетов и модулей. Эта категория нужна не во всех проектах, но знать про 
// нее необходимо.

//
// @source http://smacss.com/book/type-theme

$nod-bg-primary: $white;
$nod-bg-primary-shade1: $melancholic;
$nod-bg-primary-shade2: $gunpowder;


$nod-text-primary: $asfalt;         // on white
$nod-text-primary-shade1: $moonrock;
$nod-text-primary-shade2: $coal;

$nod-text-light: $ghostwhite;
$nod-text-light-shade1: $iron;         // on black
$nod-text-light-shade2: $ashy;


// Links
$color-link:                $nod-text-primary-shade1;
$color-link-hover:          $nod-text-primary-shade2;
$color-link-visited:        $bouquet;

$radius-small: 4px;
$border-thin: 1px solid $nod-bg-primary-shade2;


// White Space
$pad-small: 10px;
$pad-small-x: 0px $pad-small;
$pad-small-y: $pad-small 0px;

$mar-small: 10px;
$mar-small-x: 0px $pad-small;
$mar-small-y: $pad-small 0px;

$pad-med: 20px;
$pad-med-x: 0px $pad-med;
$pad-med-y: $pad-med 0px;

$mar-med: 20px;
$mar-med-x: 0px $pad-med;
$mar-med-y: $pad-med 0px;


// @import '../nod-light';