.footer-wrap {
    @extend %container-flex;
    justify-content: space-between;
    align-items: center;
    padding: $pad-xsmall;
    .col, .col a {
        color: $nod-text-light-shade1;
    }
    .col.company-link {
        @extend %container-inline;
    }
}