// Header Elements

.upper-header {
    @extend %container-flex;
    justify-content: space-between;
    align-items: center;
    min-height: 175px;

    .logo .image {
        height: 60px;
        width: 60px;
        background: $nod-bg-primary-shade2;
    }
    .contacts {
        font-family: $font-family-thin;
        .link {
            font-weight: bold;
        }
    }
}
.lower-header {
    background: $nod-bg-primary-shade2;

    .menu-big {
        @extend %container-flex;
        justify-content: center;
        color: $nod-text-light-shade1;
    }
    .menu-big .menu-item:not(:first-child):before {
        content: "|";
        padding: $pad-med-x;
        text-align: center;
    }
}