// @source http://smacss.com/book/type-module
//
// Module Rules     (SMACSS)
//
// A Module is a more discrete component of the page. It is your navigation bars 
// and your carousels and your dialogs and your widgets and so on. This is the 
// meat of the page. Modules sit inside Layout components. Modules can sometimes 
// sit within other Modules, too. Each Module should be designed to exist as a 
// standalone component. In doing so, the page will be more flexible. If done right, 
// Modules can easily be moved to different parts of the layout without breaking.

// Module – модули – это повторно используемые части дизайна, как в лего. 
// Например, меню, диалоговые окна, поисковой блок и т.д.

// Modules rules — стили модулей, то есть блоков, которые могут использоваться 
// несколько раз на одной странице. Для классов модулей не рекомендуется использовать 
// id и селекторы тэгов (для многократного использования и независимости от контекста 
// соответственно).

// @Note
// Usually I add prefives to casses, but modules are most common unit so I just use their
// names without any prefix;

// General Modules

%container {
    display: block;
}
%container-inline {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}
%container-list > * {
    display: list-item;
}
%container-flex {
    display: flex;
    flex-wrap: wrap;
}
.container-980 {
    @extend %container-flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    max-width: 980px;
    margin: 0 auto;
    padding: $pad-xsmall-x;
}

.logo {
    @extend %container-inline;
    // margin: $mar-xsmall;

    .image {
        line-height: 0;
        margin: $mar-med;
    }
    .text {
        @extend %container;
        align-items: center;
        text-align: left
    }
}
.logo-list {
    color: $color-link-dark;
    display: inline;
    text-align: center;
}

// Layout Modules with Elements

@import 'popup';
@import 'header';
    @import 'menu';
@import 'slider';
@import 'main';
    @import 'navigation';
    @import 'card';
@import 'footer';