.leftblock {
    min-width: 20%;
    padding: $pad-xsmall;
    .pricelist {
        margin-top: 80px;
    }
}

.rightblock {
    margin: $mar-xsmall-x;
    padding: $pad-xsmall;
    .cards {
        @extend %container-flex;
        justify-content: start;
    }
    .about {
        @extend %container-flex;
        justify-content: space-between;
        .col {
            width: 48%;
        }
    }
}

