.l-popup {
    .overlay {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: $transparent-black7;
        transition: opacity 500ms, visibility 500ms;
        visibility: visible;
        z-index: 999;

        &:target {
            visibility: hidden;
            opacity: 1;
        }

        .popup {
            margin: auto;
            padding: 20px;
            background: $white;
            border-radius: 5px;
            width: 30%;
            max-height: 90%;
            top: 5%;
            position: relative;
            /* transition: all 2s ease-in-out; */
        
            overflow-x: hidden;
            overflow-y: auto;
            opacity: 1;

            .header {
                margin-top: 0;
                color: $nod-text-primary-shade1;
                font-family: Tahoma, Arial, sans-serif;
            }
            .close-button {
                position: absolute;
                top: 20px;
                right: 30px;
                transition: all 200ms;
                font-size: 30px;
                font-weight: bold;
                text-decoration: none;
                color: $nod-text-primary-shade1;
            }
            .close-button:hover {
                color: $good;
            }
            .content {
                overflow: auto;
                .text {
                    color: $nod-text-primary-shade1;
                    width: 90%;
                    text-align: justify;
                    margin: 10px auto;
                }
                .feedback-formfield, 
                .feedback-submit {
                    margin: $mar-small;
                    width: 90%;
                    padding: $pad-xsmall;
                }
                .feedback-formfield:focus {
                    outline: none;
                }

                .feedback-submit.sent {
                    color: $nod-text-primary;
                    background: $good;
                    border: 1px solid $nod-text-primary;
                }
                .feedback-submit.warn {
                    color: $nod-text-primary;
                    background: $warn;
                    border: 1px solid $nod-text-primary;
                }
                .feedback-submit.error {
                    color: $nod-text-primary;
                    background: $bad;
                    border: 1px solid $nod-text-primary;
                }
                .feedback-submit:disabled {
                    color: $white;
                    background: $nod-bg-primary-shade1;
                    border: 1px solid $white;
                }
            }
        }
    }
    
}