
body {
  -webkit-font-smoothing: antialiased;
  color: $nod-text-light-shade2;
  min-height: 100%;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; 

  font-family: $font-family-default;
  font-size: $font-size-default;
  line-height: $line-height-default;
}

a {
  background: transparent;
  color: $color-link;
  text-decoration: none;
  transition: color .2s;
}
a:hover {
  color: $color-link-hover;
  text-decoration: underline;
}

img {
  max-width: 100%;
}

input, textarea {
  -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    color: $nod-text-primary-shade1;
    background: $nod-bg-primary;
    border: $border-thin;
    border-radius: $radius-small;
}

textarea { 
  max-width: 100%;
  min-height: $line-height-default;
}

hr {
  border: 1px solid $nod-text-light-shade1;
  background: $nod-text-light-shade1;
  border-radius: 20%;
  height: 0px;
  margin: $mar-med-y;
}