/* https://codepen.io/imprakash/pen/GgNMXO */

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms, visibility 500ms;
    visibility: visible;
    z-index: 999;
  }
  .overlay:target {
    visibility: hidden;
    opacity: 1;
  }
  
  .popup {
    margin: auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    max-height: 90%;
    top: 5%;
    position: relative;
    /* transition: all 2s ease-in-out; */

    overflow-x: hidden;
    overflow-y: auto;
    opacity: 1;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close-button {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close-button:hover {
    color: #06D85F;
  }
  .popup .content {
    overflow: auto;
  }
  .popup .content p {
    color: #333;
    width: 90%;
    text-align: justify;
    margin: 10px auto;
  }

  .popup .content input, .popup .content textarea {
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    display: block;
    margin: 10px auto;
    width: 90%;
    padding: 5px;

    color: #333;
    background: #fff;
    border: 1px solid rgb(189, 189, 189);
    border-radius: 4px;
  }

  .popup .content textarea {
    resize: vertical;
    min-height: 27px;
  }

  .popup .content input:focus, .popup .content textarea:focus {
    outline: none;
  }

  .popup .content input[type='submit'].sent {
    color: rgb(94, 94, 94);
    background: rgb(117, 255, 129);
    border: 1px solid rgb(94, 94, 94);
  }
  .popup .content input[type='submit'].warn {
    color: rgb(94, 94, 94);
    background: rgb(246, 255, 117);
    border: 1px solid rgb(94, 94, 94);
  }
  .popup .content input[type='submit'].error {
    color: rgb(94, 94, 94);
    background: rgb(255, 117, 117);
    border: 1px solid rgb(94, 94, 94);
  }

  .popup .content input[type='submit']:disabled {
    color: #fff;
    background: rgb(230, 230, 230);
    border: 1px solid #fff;
  }


  .popup .content .hint {
    color: rgb(255, 117, 117);
    position: relative;
    margin: 10px auto;
    width: 90%;
    text-align: justify;
    font-size: 60%;
    line-height: 130%;
  }