@viewport {
  width: device-width; }

html {
  background-color: #fff;
  box-sizing: border-box;
  height: 100%; }

*:before, *:after {
  box-sizing: inherit; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sans Reg", "Lucida Sans Regular", sans-serif, "Arial", sans-serif;
  font-weight: normal;
  margin: 0px; }

p {
  font-family: "Sans Reg", "Lucida Sans Regular", sans-serif, "Arial", sans-serif;
  font-weight: normal;
  margin: 0px; }

ul {
  padding: 0px; }

body {
  -webkit-font-smoothing: antialiased;
  color: #9d9d9d;
  min-height: 100%;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Sans Reg", "Lucida Sans Regular", sans-serif, "Arial", sans-serif;
  font-size: 14px;
  line-height: 22px; }

a {
  background: transparent;
  color: #9d9d9d;
  text-decoration: none;
  transition: color .2s; }

a:hover {
  color: #444444;
  text-decoration: underline; }

img {
  max-width: 100%; }

input, textarea {
  box-sizing: border-box;
  display: block;
  color: #333333;
  background: #fff;
  border: 1px solid #777777;
  border-radius: 4px; }

textarea {
  max-width: 100%;
  min-height: 22px; }

hr {
  border: 1px solid #dadbdf;
  background: #dadbdf;
  border-radius: 20%;
  height: 0px;
  margin: 15px 0px; }

.l-popup {
  width: 100%;
  height: 100%; }

.l-header {
  width: 100%;
  background: #dcdcdc;
  color: #777777; }

.l-slider {
  position: relative; }

.l-main {
  padding: 5px;
  background: #fff; }

.l-footer {
  background: #777777;
  margin-top: 120px; }

.menu .menu-item:hover > .submenu, .menu-big .menu-item:hover > .submenu, .logo .text {
  display: block; }

.logo {
  display: inline-flex;
  justify-content: space-between;
  align-items: center; }

.container-980, .upper-header, .lower-header .menu-big, .rightblock .cards, .rightblock .about, .navigation, .card .card-actions, .footer-wrap {
  display: flex;
  flex-wrap: wrap; }

.container-980 {
  flex-wrap: nowrap;
  justify-content: space-between;
  max-width: 980px;
  margin: 0 auto;
  padding: 0px 5px; }

.overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms, visibility 500ms;
  visibility: visible;
  z-index: 999; }
  .overlay:target {
    visibility: hidden;
    opacity: 1; }

.popup {
  margin: auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  max-height: 90%;
  top: 5%;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  opacity: 1; }
  .popup .header {
    margin-top: 0;
    color: #333333;
    font-family: Tahoma, Arial, sans-serif; }
  .popup .close-button {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333333; }
    .popup .close-button:hover {
      color: #75ff81; }

.content {
  overflow: auto; }
  .content .text {
    color: #333333;
    width: 90%;
    text-align: justify;
    margin: 10px auto; }
  .content .input {
    margin: 10px;
    width: 90%;
    padding: 5px; }
  .content .input:focus {
    outline: none; }

.input-submit.sent {
  color: #444444;
  background: #75ff81;
  border: 1px solid #444444; }

.input-submit.warn {
  color: #444444;
  background: #f6ff75;
  border: 1px solid #444444; }

.input-submit.error {
  color: #444444;
  background: #ff7575;
  border: 1px solid #444444; }

.input-submit:disabled {
  color: #fff;
  background: #dcdcdc;
  border: 1px solid #fff; }

.upper-header {
  justify-content: space-between;
  align-items: center;
  min-height: 175px; }
  .upper-header .logo .image {
    height: 60px;
    width: 60px;
    background: #777777; }
  .upper-header .contacts {
    font-family: "Sans Thin", "Lucida Sans Regular", sans-serif, "Arial", sans-serif; }
    .upper-header .contacts .link {
      font-weight: bold; }

.lower-header {
  background: #777777; }
  .lower-header .menu-big {
    justify-content: center;
    color: #dadbdf; }
  .lower-header .menu-big .menu-item:not(:first-child):before {
    content: "|";
    padding: 0px 15px;
    text-align: center; }

.menu, .menu-big {
  list-style: none; }
  .menu .menu-item, .menu-big .menu-item {
    position: relative;
    margin: 5px 0px; }
  .menu .submenu, .menu-big .submenu {
    display: none;
    width: 100%;
    margin-left: 10%;
    padding: 0; }
    .menu .submenu .menu-subitem, .menu-big .submenu .menu-subitem {
      margin: 5px 0px; }

.menu-big {
  font-size: 160%;
  padding: 2.5vw;
  line-height: 30px; }

.link.dark {
  color: #777777; }

.link.light {
  color: #dadbdf; }

.logo .image {
  line-height: 0;
  margin: 15px; }

.logo .text {
  align-items: center;
  text-align: left; }

.logo-list {
  color: #333333;
  display: inline;
  text-align: center; }

.l-slider .slider-wrap {
  overflow: hidden;
  position: relative;
  max-height: 462px;
  height: 40vw; }

.l-slider .photo {
  position: absolute;
  animation: round 8s infinite;
  opacity: 0;
  width: 100%;
  height: 100%; }

@keyframes round {
  10% {
    opacity: 0; }
  15% {
    opacity: 1; }
  60% {
    opacity: 1; }
  65% {
    opacity: 0; } }

.l-slider .slider-wrap .photo:nth-child(1) {
  animation-delay: 4s; }

.l-slider .slider-wrap .photo:nth-child(2) {
  animation-delay: 0s; }

.leftblock {
  min-width: 20%;
  padding: 5px; }
  .leftblock .pricelist {
    margin-top: 80px; }

.rightblock {
  margin: 0px 5px;
  padding: 5px; }
  .rightblock .cards {
    justify-content: start; }
  .rightblock .about {
    justify-content: space-between; }
    .rightblock .about .col {
      width: 48%; }

.navigation {
  justify-content: center;
  list-style: none;
  margin: 5px 0px;
  margin-bottom: 40px; }
  .navigation .nav-item {
    padding: 0px 5px; }
    .navigation .nav-item.active .link {
      font-size: 130%;
      color: #1f1f1f; }

.card {
  max-width: 200px;
  padding: 10px;
  margin: 5px;
  background: #dcdcdc;
  color: #9d9d9d; }
  .card .card-actions {
    justify-content: space-between;
    margin: 5px 0px;
    color: #444444; }

.footer-wrap {
  justify-content: space-between;
  align-items: center;
  padding: 5px; }
  .footer-wrap .col {
    color: #dadbdf; }

@media screen and (max-width: 500px) {
  body {
    font-size: 2vw;
    line-height: 2.5vw; }
  a {
    font-size: 2vw;
    line-height: 2.5vw; } }

@media print {
  *:before, *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }
