@viewport {
  width: device-width; }

html {
  background-color: #fff;
  box-sizing: border-box;
  height: 100%; }

*:before, *:after {
  box-sizing: inherit; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sans Reg", "Lucida Sans Regular", sans-serif, "Arial", sans-serif;
  font-weight: normal;
  margin: 0px; }

p {
  font-family: "Sans Reg", "Lucida Sans Regular", sans-serif, "Arial", sans-serif;
  font-weight: normal;
  margin: 0px; }

ul {
  padding: 0px; }

body {
  -webkit-font-smoothing: antialiased;
  color: #9d9d9d;
  min-height: 100%;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Sans Reg", "Lucida Sans Regular", sans-serif, "Arial", sans-serif;
  font-size: 14px;
  line-height: 22px; }

a {
  background: transparent;
  color: #9d9d9d;
  text-decoration: none;
  transition: color .2s; }

a:hover {
  color: #444444;
  text-decoration: underline; }

img {
  max-width: 100%; }

input, textarea {
  box-sizing: border-box;
  display: block;
  color: #333333;
  background: #fff;
  border: 1px solid #777777;
  border-radius: 4px; }

textarea {
  max-width: 100%;
  min-height: 22px; }

hr {
  border: 1px solid #dadbdf;
  background: #dadbdf;
  border-radius: 20%;
  height: 0px;
  margin: 15px 0px; }

.l-header {
  width: 100%;
  background: #dcdcdc;
  color: #777777; }

.l-slider {
  position: relative; }

.l-main {
  padding: 5px;
  background: #fff; }

.l-footer {
  background: #777777;
  margin-top: 120px; }

.l-header .upper-header .logo, .l-footer .footer-wrap .col.company-link {
  display: inline-flex;
  justify-content: space-between;
  align-items: center; }

.l-header .upper-header, .l-footer .footer-wrap, .container-980, .l-main .rightblock .cards .card .card-actions, .l-main .rightblock .about, .l-header .lower-header .menu, .l-main .rightblock .navigation, .l-main .rightblock .cards {
  display: flex; }

.l-header .upper-header, .l-footer .footer-wrap, .container-980, .l-main .rightblock .cards .card .card-actions, .l-main .rightblock .about {
  justify-content: space-between; }

.l-header .upper-header, .l-footer .footer-wrap {
  align-items: center;
  flex-wrap: wrap; }

.l-header .lower-header .menu, .l-main .rightblock .navigation {
  justify-content: center;
  flex-wrap: wrap; }

.l-main .rightblock .cards {
  justify-content: start;
  flex-wrap: wrap; }

.container-980 {
  max-width: 980px;
  margin: 0 auto;
  padding: 0px 5px; }

.menu {
  list-style: none; }

.l-popup .overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms, visibility 500ms;
  visibility: visible;
  z-index: 999; }
  .l-popup .overlay:target {
    visibility: hidden;
    opacity: 1; }
  .l-popup .overlay .popup {
    margin: auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    max-height: 90%;
    top: 5%;
    position: relative;
    /* transition: all 2s ease-in-out; */
    overflow-x: hidden;
    overflow-y: auto;
    opacity: 1; }
    .l-popup .overlay .popup .header {
      margin-top: 0;
      color: #333333;
      font-family: Tahoma, Arial, sans-serif; }
    .l-popup .overlay .popup .close-button {
      position: absolute;
      top: 20px;
      right: 30px;
      transition: all 200ms;
      font-size: 30px;
      font-weight: bold;
      text-decoration: none;
      color: #333333; }
    .l-popup .overlay .popup .close-button:hover {
      color: #75ff81; }
    .l-popup .overlay .popup .content {
      overflow: auto; }
      .l-popup .overlay .popup .content .text {
        color: #333333;
        width: 90%;
        text-align: justify;
        margin: 10px auto; }
      .l-popup .overlay .popup .content .feedback-formfield,
      .l-popup .overlay .popup .content .feedback-submit {
        margin: 10px;
        width: 90%;
        padding: 5px; }
      .l-popup .overlay .popup .content .feedback-formfield:focus {
        outline: none; }
      .l-popup .overlay .popup .content .feedback-submit.sent {
        color: #444444;
        background: #75ff81;
        border: 1px solid #444444; }
      .l-popup .overlay .popup .content .feedback-submit.warn {
        color: #444444;
        background: #f6ff75;
        border: 1px solid #444444; }
      .l-popup .overlay .popup .content .feedback-submit.error {
        color: #444444;
        background: #ff7575;
        border: 1px solid #444444; }
      .l-popup .overlay .popup .content .feedback-submit:disabled {
        color: #fff;
        background: #dcdcdc;
        border: 1px solid #fff; }

.l-header .upper-header {
  min-height: 175px; }
  .l-header .upper-header .logo .image {
    height: 60px;
    width: 60px;
    background: #777777;
    margin: 10px; }
  .l-header .upper-header .contacts {
    font-family: "Sans Thin", "Lucida Sans Regular", sans-serif, "Arial", sans-serif; }
    .l-header .upper-header .contacts .link {
      color: #777777;
      font-weight: bold; }

.l-header .lower-header,
.l-header .lower-header .menu-item .link {
  background: #777777;
  color: #dadbdf; }

.l-header .lower-header .menu {
  font-size: 160%;
  padding: 2.5vw;
  line-height: 30px; }

.l-header .lower-header .menu .menu-item:not(:first-child):before {
  content: "|";
  padding: 0px 10px;
  text-align: center; }

.l-slider .slider-wrap {
  overflow: hidden;
  position: relative;
  max-height: 462px;
  height: 40vw; }

.l-slider .photo {
  position: absolute;
  animation: round 8s infinite;
  opacity: 0;
  width: 100%;
  height: 100%; }

@keyframes round {
  10% {
    opacity: 0; }
  15% {
    opacity: 1; }
  60% {
    opacity: 1; }
  65% {
    opacity: 0; } }

.l-slider .slider-wrap .photo:nth-child(1) {
  animation-delay: 4s; }

.l-slider .slider-wrap .photo:nth-child(2) {
  animation-delay: 0s; }

.l-main .leftblock {
  min-width: 20%;
  padding: 5px; }
  .l-main .leftblock .sidemenu {
    list-style: none; }
    .l-main .leftblock .sidemenu .menu-item {
      position: relative;
      margin: 5px 0px; }
    .l-main .leftblock .sidemenu .submenu {
      display: none;
      width: 100%;
      margin-left: 10%;
      padding: 0; }
      .l-main .leftblock .sidemenu .submenu .menu-subitem {
        margin: 5px 0px; }
    .l-main .leftblock .sidemenu > .menu-item:hover > .submenu {
      display: block; }
  .l-main .leftblock .pricelist {
    text-align: center;
    margin-top: 80px; }
    .l-main .leftblock .pricelist .link {
      color: #333333; }

.l-main .rightblock {
  margin: 0px 5px;
  padding: 5px; }
  .l-main .rightblock .cards .card {
    max-width: 200px;
    padding: 10px;
    margin: 5px;
    background: #dcdcdc;
    color: #9d9d9d; }
    .l-main .rightblock .cards .card .card-actions {
      margin: 5px 0px;
      color: #444444; }
  .l-main .rightblock .navigation {
    list-style: none;
    margin: 5px 0px;
    margin-bottom: 40px; }
    .l-main .rightblock .navigation .nav-item {
      padding: 0px 5px; }
  .l-main .rightblock .about .col {
    width: 48%; }

.l-footer .footer-wrap {
  padding: 5px; }
  .l-footer .footer-wrap .col, .l-footer .footer-wrap .col a {
    color: #dadbdf; }
  .l-footer .footer-wrap .col.company-link .logo {
    margin: 5px;
    line-height: 0; }

@media screen and (max-width: 500px) {
  body {
    font-size: 2vw;
    line-height: 2.5vw; }
  a {
    font-size: 2vw;
    line-height: 2.5vw; } }

@media print {
  *:before, *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }
