body {
  -webkit-font-smoothing: antialiased;
  color: #484c55;
  min-height: 100%;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Sans Reg", "Lucida Sans Regular", sans-serif, "Arial", sans-serif;
  font-size: 14px;
  line-height: 22px; }

a {
  background: transparent;
  color: #333333;
  text-decoration: none;
  transition: color .2s; }

img {
  height: auto;
  max-width: 100%; }

input, textarea {
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  color: #333333;
  background: #f8f8ff;
  border: 1px solid #777777;
  border-radius: 4px; }

textarea {
  max-width: 100%;
  min-height: 22px; }

@viewport {
  width: device-width; }

html {
  background-color: #f8f8ff;
  box-sizing: border-box;
  height: 100%; }

*:before, *:after {
  box-sizing: inherit; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sans Reg", "Lucida Sans Regular", sans-serif, "Arial", sans-serif;
  font-weight: normal;
  margin: 0px auto; }

p {
  font-family: "Sans Reg", "Lucida Sans Regular", sans-serif, "Arial", sans-serif;
  font-weight: normal;
  margin: 0px auto; }

ul {
  padding: 0px; }

.l-header {
  width: 100%;
  background: #dcdcdc;
  color: #333333; }

.l-slider {
  position: relative; }

.l-main {
  padding: 0px 10px; }

.l-footer {
  background: #777777; }

.upper-header .logo {
  display: inline-flex;
  justify-content: space-between;
  align-items: center; }

.container-980 {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }

.container-980 {
  max-width: 980px;
  margin: 0 auto; }

.menu {
  list-style: none;
  font-size: 160%;
  padding: 2.5vw; }

.upper-header {
  min-height: 125px; }

.upper-header .logo .image {
  height: 60px;
  width: 60px;
  background: #444444;
  margin: 10px; }

.upper-header .contacts {
  font-family: "Sans Thin", "Lucida Sans Regular", sans-serif, "Arial", sans-serif; }

.lower-header,
.lower-header .menu-item .link {
  background: #444444;
  color: #dadbdf; }

.menu .menu-item:not(:first-child):before {
  content: "|";
  padding: 0px 10px;
  text-align: center; }

.slider-wrap {
  height: 462px;
  overflow: hidden;
  position: relative; }

.photo {
  position: absolute;
  animation: round 16s infinite;
  opacity: 0; }

@keyframes round {
  25% {
    opacity: 1; }
  40% {
    opacity: 0; } }

img:nth-child(1) {
  animation-delay: 8s; }

img:nth-child(2) {
  animation-delay: 0s; }

@media print {
  *:before, *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }
